<div class="modal">
    <ul class="modal_looks">
        <li class="looks_1">    
            <a class="look_inner" href="#style_1">
                <p class="look_num hel_r">
                    001
                </p>
                <div class="look_ph">
                    <img src="<%= rootURL %>/assets/img/modal/modal_1.jpg" alt="">        
                </div>
            </a>
        </li>
        <li class="looks_2"> 
            <a class="look_inner" href="#style_2">
                <p class="look_num hel_r">
                    002
                </p>
                <div class="look_ph">
                    <img src="<%= rootURL %>/assets/img/modal/modal_2.jpg" alt="">        
                </div>
            </a>
        </li>
        <li class="looks_3">   
            <a class="look_inner" href="#style_3">
                <p class="look_num hel_r">
                    003
                </p>
                <div class="look_ph">
                    <img src="<%= rootURL %>/assets/img/modal/modal_3.jpg" alt="">        
                </div>
            </a>
        </li>
        <li class="looks_4">
            <a class="look_inner" href="#style_4">
                <p class="look_num hel_r">
                    004
                </p>
                <div class="look_ph">
                    <img src="<%= rootURL %>/assets/img/modal/modal_4.jpg" alt="">        
                </div>
            </a>
        </li>
        <li class="looks_5">
            <a class="look_inner" href="#style_5">
                <p class="look_num hel_r">
                    005
                </p>
                <div class="look_ph">
                    <img src="<%= rootURL %>/assets/img/modal/modal_5.jpg" alt="">        
                </div>
            </a>
        </li>
        <li class="looks_6">
            <a class="look_inner" href="#style_6">
                <p class="look_num hel_r">
                    006
                </p>
                <div class="look_ph">
                    <img src="<%= rootURL %>/assets/img/modal/modal_6.jpg" alt="">        
                </div>
            </a>
        </li>
        <li class="looks_7">
            <a class="look_inner" href="#style_7">
                <p class="look_num hel_r">
                    007
                </p>
                <div class="look_ph">
                    <img src="<%= rootURL %>/assets/img/modal/modal_7.jpg" alt="">        
                </div>
            </a>
        </li>
        <li class="looks_8">
            <a class="look_inner" href="#style_8">
                <p class="look_num hel_r">
                    008
                </p>
                <div class="look_ph">
                    <img src="<%= rootURL %>/assets/img/modal/modal_8.jpg" alt="">        
                </div>
            </a>
        </li>
        <li class="looks_9">
            <a class="look_inner" href="#style_9">
                <p class="look_num hel_r">
                    009
                </p>
                <div class="look_ph">
                    <img src="<%= rootURL %>/assets/img/modal/modal_9.jpg" alt="">        
                </div>
            </a>
        </li>
        <li class="looks_10">
            <a class="look_inner" href="#style_10">
                <p class="look_num hel_r">
                    010
                </p>
                <div class="look_ph">
                    <img src="<%= rootURL %>/assets/img/modal/modal_10.jpg" alt="">        
                </div>
            </a>
        </li>
    </ul>
    <div class="modal_btn">
        <div class="close hel_r">
            (  CLOSE  )
        </div>
        <div class="modal_items pc hel_r">
            (  ALL ITEMS  )
        </div>
    </div>
</div>