<div class="mv_wrap">
    <div class="pc_mv">
        <div class="pc_left">
            <img class="pcmv" src="<%= rootURL %>/assets/img/mv/pc_mv1.jpg" alt="">
            <div class="pc_txt-wrap">
                <h1 class="hel_r animated-text" data-text="2025 WINTER COLLECTION">
                    2025 WINTER COLLECTION
                </h1>
                <h2 class="mv_logo">
                    <img src="<%= rootURL %>/assets/img/logo.png" alt="RAGEBLUE">        
                </h2>
            </div>
            
        </div>
        <div class="pc_right">
            <img class="pcmv" src="<%= rootURL %>/assets/img/mv/pc_mv2.jpg" alt="">
            <div class="pc_txt-wrap">
                <h1 class="hel_r animated-text" data-text="2025 WINTER COLLECTION">
                    2025 WINTER COLLECTION
                </h1>
                <h2 class="mv_logo">
                    <img src="<%= rootURL %>/assets/img/logo.png" alt="RAGEBLUE">        
                </h2>
            </div>
        </div>

    </div>
    <div class="sp_mv">
        <img class="mv_1" src="<%= rootURL %>/assets/img/mv/sp_mv1.jpg" alt="">
        <img class="mv_2" src="<%= rootURL %>/assets/img/mv/sp_mv2.jpg" alt="">
        <div class="sp_txt-wrap">
            <h1 class="hel_r animated-text" data-text="2025 WINTER COLLECTION">
                2025 WINTER COLLECTION
            </h1>
            <h2 class="mv_logo">
                <img src="<%= rootURL %>/assets/img/logo.png" alt="RAGEBLUE">        
            </h2>
        </div>
    </div>
</div>

