


<div class="style style_6" id="style_6">
    
    <div class="style6-wrap">
        <div class="style-ph style6-1">
            <img src="<%= rootURL %>/assets/img/style/style6-1.jpg" alt="">        
        </div>
        <div class="item_detail">
            <p>
                <span class="hel_b">006：</span><a href="" target="_blank">KNIT ¥0,000</a>　<a href="" target="_blank">PANTS ¥0,000</a>　<a href="" target="_blank">KNIT ¥0,000</a>　<a href="" target="_blank">PANTS ¥0,000</a>
            </p>
        </div>
    </div>
    <div class="style-ph style6-2">
        <img src="<%= rootURL %>/assets/img/style/style6-2.jpg" alt="">        
    </div>
</div>



<div class="bora-wrap bora-wrap_5">
    <div class="bora bora_13">
        <img src="<%= rootURL %>/assets/img/bora/bora_13.png" alt="">        
    </div>
    <div class="bora bora_14">
        <img src="<%= rootURL %>/assets/img/bora/bora_14.png" alt="">        
    </div>
    <div class="bora bora_15">
        <img src="<%= rootURL %>/assets/img/bora/bora_15.png" alt="">        
    </div>
</div>