

<div class="bora-wrap bora-wrap_4">
    <div class="bora bora_10">
        <img src="<%= rootURL %>/assets/img/bora/bora_10.jpg" alt="">        
    </div>
    <div class="bora bora_11">
        <img src="<%= rootURL %>/assets/img/bora/bora_11.jpg" alt="">        
    </div>
    <div class="bora bora_12">
        <img src="<%= rootURL %>/assets/img/bora/bora_12.jpg" alt="">        
    </div>
</div>

<div class="style style_5" id="style_5">
    <div class="item_detail">
        <p>
            <span class="hel_b">005：</span><a href="" target="_blank">KNIT ¥0,000</a>　<a href="" target="_blank">PANTS ¥0,000</a>　<a href="" target="_blank">KNIT ¥0,000</a>　<a href="" target="_blank">PANTS ¥0,000</a>
        </p>
    </div>
    <div class="style5-wrap">
        <div class="style-ph style5-1">
            <img src="<%= rootURL %>/assets/img/style/style5-1.jpg" alt="">        
        </div>
        <div class="style-ph style5-2">
            <img src="<%= rootURL %>/assets/img/style/style5-2.jpg" alt="">        
        </div>
    </div>
</div>