
<div class="style style_8" id="style_8">
    <div class="style8-wrap">
        <div class="style-ph style8-1">
            <img src="<%= rootURL %>/assets/img/style/style8-1.jpg" alt="">        
        </div>
        <div class="style-ph style8-2">
            <img src="<%= rootURL %>/assets/img/style/style8-2.jpg" alt="">        
        </div>
    </div>
    <div class="item_detail">
        <p>
            <span class="hel_b">008：</span><a href="" target="_blank">KNIT ¥0,000</a>　<a href="" target="_blank">PANTS ¥0,000</a>　<a href="" target="_blank">KNIT ¥0,000</a>　<a href="" target="_blank">PANTS ¥0,000</a>
        </p>
    </div>
</div>


<div class="bora-wrap bora-wrap_7">
    <div class="bora bora_19">
        <img src="<%= rootURL %>/assets/img/bora/bora_19.jpg" alt="">        
    </div>
    <div class="bora bora_20">
        <img src="<%= rootURL %>/assets/img/bora/bora_20.jpg" alt="">        
    </div>
    <div class="bora bora_21">
        <img src="<%= rootURL %>/assets/img/bora/bora_21.jpg" alt="">        
    </div>
</div>