
<div class="style style_4" id="style_4">
    <div class="style-ph style4-1">
        <img src="<%= rootURL %>/assets/img/style/style4-1.jpg" alt="">        
    </div>
    <div class="style4-wrap">
        <div class="style-ph style4-2">
            <img src="<%= rootURL %>/assets/img/style/style4-2.jpg" alt="">        
        </div>
        <div class="style-ph style4-3">
            <img src="<%= rootURL %>/assets/img/style/style4-3.jpg" alt="">        
        </div>
        <div class="item_detail">
            <p>
                <span class="hel_b">004：</span><a href="" target="_blank">KNIT ¥0,000</a>　<a href="" target="_blank">PANTS ¥0,000</a>　<a href="" target="_blank">KNIT ¥0,000</a>　<a href="" target="_blank">PANTS ¥0,000</a>
            </p>
        </div>
    </div>
</div>


<div class="bora-wrap bora-wrap_3">
    <div class="bora bora_7">
        <img src="<%= rootURL %>/assets/img/bora/bora_7.jpg" alt="">        
    </div>
    <div class="bora bora_8">
        <img src="<%= rootURL %>/assets/img/bora/bora_8.jpg" alt="">        
    </div>
    <div class="bora bora_9">
        <img src="<%= rootURL %>/assets/img/bora/bora_9.jpg" alt="">        
    </div>
</div>