
<div class="style style_7" id="style_7">
    <div class="item_detail">
        <p>
            <span class="hel_b">007：</span><a href="" target="_blank">KNIT ¥0,000</a>　<a href="" target="_blank">PANTS ¥0,000</a>　<a href="" target="_blank">KNIT ¥0,000</a>　<a href="" target="_blank">PANTS ¥0,000</a>
        </p>
    </div>
    <div class="style7-wrap">
        <div>
            <div class="style-ph style7-1">
                <img src="<%= rootURL %>/assets/img/style/style7-1.jpg" alt="">        
            </div>
        </div>
        <div class="style-ph style7-2">
            <img src="<%= rootURL %>/assets/img/style/style7-2.jpg" alt="">        
        </div>
    </div>
</div>


<div class="bora-wrap bora-wrap_6">
    <div class="bora bora_16">
        <img src="<%= rootURL %>/assets/img/bora/bora_16.jpg" alt="">        
    </div>
    <div class="bora bora_17">
        <img src="<%= rootURL %>/assets/img/bora/bora_17.jpg" alt="">        
    </div>
    <div class="bora bora_18">
        <img src="<%= rootURL %>/assets/img/bora/bora_18.jpg" alt="">        
    </div>
</div>